@charset "utf-8";


/* Mobile Styles */
@media only screen and (max-width: 640px){
  #splash {
    margin: 25% 0% 7% 0%;
    background-color: #F69DC6;
    padding-top: 5%;
    padding-bottom: 3%;
    border: 20px double white;
  }
  h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    text-align: center;
  }
  p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    font-weight: lighter;
  }
  footer li {
    display: inline;
    text-align: center;
  }
  footer nav {
    text-align: center;
    background-color: #F69DC6;
    padding-bottom: 2%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 641px){
  h1 {
    font-family: 'Sacramento', cursive;
    font-size: 10em;
    text-align: center;
  }
  div#splash {
    background-color: #F69DC6;
    margin: 0% 8% 4% 8%;
    padding: 5%;
    margin-top: 12%;
    border: 30px double white;
  }
  p {
    font-size: 2em;
    font-weight: bold;
  }
}
