@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author:  E. Ruiz & James
   Date:   November 27 2018

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
		table, tbody, tr, td, th, caption {
			display: block;
		}
		
		thead, h1 {
				display: none;
		}
		
		table caption {
			color: white;
			background-color: gray;
			font-size: 1.5em;
			line-height: 2em;
		}
		
		td {
			border: 1px dotted gray;
			color: rgb(11, 12, 145);
			position: relative;
			padding-left: 40%;
			min-height: 40px;
		}
		
		tr:nth-of-type(odd) {
			background-color: rgb(255, 235, 178);
			border: 2px solid gray;
		}
		
		td::before {
			content: " " attr(data-date) " ";
			position: absolute;
			left: 0px;
			right: 0px;
			width: 40%;
			padding: 5px;
		}
}




/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
	table {
		background: url(lht_photo1.png) bottom right / 40% no-repeat content-box;
		border: 6px double rgb(154, 64, 3);
		border-collapse: collapse;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		table-layout: fixed;
		width: 85%;
	}
	
	th, td {
		border: 1px solid gray;
		font-size: 0.85em;
		font-weight: normal;
		padding: 5px;
		vertical-align: top;
		width: 14.28%;
		word-wrap: break;
	}
	
	td {
		background: rbga(171, 171, 171, 0.6);
		color: rgb(11, 12, 145);
	}
	
	td[data-date~=Feb] {
		background-color: rgba(232, 214, 148, 0.6);
		box-shadow: inset gray 0px 0px 20px;
	}
	
	table caption {
		display: top;
		text-align: center;
		padding-bottom: 10px;
		font-size: 1.2em;
		letter-spacing: 3px;
	}
	
	thead th {
		background-color: rgb(154, 64, 3);
	}
}










