@charset "utf-8";
@import url(./../reset.css);
@import url(./../styles.css);

@media only screen and (max-width: 640px){
  img {
    width: 100%;
    margin-top: 10%;
    border: 10px solid #F69DC6;
  }
  #girls {
    margin-bottom: 10%;
  }
  .column {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  div.caption {
    font-family: "Ubuntu Condensed", cursive;
    font-style: italic;
    width: 100%;
    padding-top: 1%;
    text-align: center;
  }
  p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-weight: lighter;
    padding-top: 20%;
  }
}
@media only screen and (min-width: 641px) {
  /* Column Styles */
  div.column {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 5%;
    margin-left: 15px;
    margin-bottom: 3%;
  }
  div.column img {
    width: 100%;
    border: 15px solid #F69DC6;
    margin-bottom: 15px;
  }
  div.column:first-of-type {
    margin-left: 4%;
  }
  span {
    font-family: "Ubuntu Condensed", cursive;
    font-style: italic;
  }
  img#allura {
    margin-bottom: 1px;
  }
  img#kana {
    margin-top: 2%;
    margin-bottom: 1px;
  }
  img#elf {
    margin-top: 40%;
  }
  p {
    font-weight: bold;
    font-size: 2em;
  }
}
