@charset "utf-8";
@import url(./../reset.css);
@import url(./../styles.css);

/* Column Styles */
div#grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}
div.column {
  float: left;
  width: 40%;
  text-align: center;
  background-color: #FDEBF3;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom: 5.5%;
  font-size: 1.28em;
}
div.column:nth-of-type(2) {
  font-size: 1.6em;
}
a {
  text-decoration: none;
  color: #F694C1;
}
a:hover {
  color: gray;
}
