@charset "utf-8";
@import url(./../reset.css);
@import url(./../styles.css);

/* Body Styles */
div.column {
  display: inline;
  float: left;
}
div.column#websites {
  width: 50%;
  padding-right: 3%;
}
div.column#image {
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
}
footer {
  clear: both;
}
img {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  border: 15px solid #F69DC6;
}

img#selfie {
  width: 60%;
}
div.column:nth-last-of-type(1) img {
  margin-bottom: 5.62%;
  margin-top: 1%;
}
a img:hover {
  border-color: #FACEE2;
}
div.column:nth-last-of-type(2) img {
  margin-top: 6%;
  width: 100%;
  margin-bottom: 2%;
}
h2 {
  text-align: center;
  font-family: Sacramento, cursive;
}
