@charset "utf-8";
@import url(./../reset.css);
@import url(./../styles.css);

/* Body Styles */
div.column {
  display: inline;
  float: left;
}
div.column#websites {
  width: 50%;
}
div.column#image {
  width: 50%;
}
footer {
  clear: both;
}
img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

div img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 15px solid #F69DC6;
}
img#selfie {
  width: 60%;
}
div.column:nth-last-of-type(2) img:not(#selfie){
  margin-top: 12%;
}
a img:hover {
  border-color: #FACEE2;
}
