@charset "UTF-8";

/* Mobile Styles */
@media only screen and (max-width: 640px) {
  td {
    display: block;
    border: 10px solid white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    margin: 17% auto 10% auto;
  }

}  tr:first-of-type td:first-of-type {
    background-color: #FDEBF3;
  }
  tr:first-of-type td:first-of-type p {
    color: #1D1622;
  }
  tr:first-of-type td:first-of-type a {
    color: #F69DC6;
  }
  tr:first-of-type td:first-of-type a:hover {
    color: #F9BAD7;
  }

  tr:last-of-type td:first-of-type {
    background-color: #FDEBF3;
  }
  tr:last-of-type td:first-of-type p {
    color: #1D1622;
  }
  tr:last-of-type td:first-of-type a {
    color: #F69DC6;
  }
  tr:last-of-type td:first-of-type a:hover {
    color: #F9BAD7;
  }


  tr:first-of-type td:last-of-type {
    background-color: #1D1622;
  }
  tr:first-of-type td:last-of-type p {
    color: #F69DC6;
  }
  tr:first-of-type td:last-of-type a {
    color: #FACEE2;
  }
  tr:first-of-type td:last-of-type a:hover {
    color: white;
  }


  tr:last-of-type td:last-of-type {
    background-color: #1D1622;
  }
  tr:last-of-type td:last-of-type p {
    color: #F69DC6;
  }
  tr:last-of-type td:last-of-type a {
    color: #FACEE2;
  }
  tr:last-of-type td:last-of-type a:hover {
    color: white;
  }

/* Desktop Styles */
@media only screen and (min-width: 641px) {
  table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  td {
    width: 50%;
    border: 30px solid white;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  p {
    font-weight: bold;
    font-size: 2em;
  }
  a {
    text-decoration: none;
  }

  tr:first-of-type td:first-of-type {
    background-color: #FDEBF3;
  }
  tr:first-of-type td:first-of-type p {
    color: #1D1622;
  }
  tr:first-of-type td:first-of-type a {
    color: #F69DC6;
  }
  tr:first-of-type td:first-of-type a:hover {
    color: #F9BAD7;
  }

  tr:last-of-type td:last-of-type {
    background-color: #FDEBF3;
  }
  tr:last-of-type td:last-of-type p {
    color: #1D1622;
  }
  tr:last-of-type td:last-of-type a {
    color: #F69DC6;
  }
  tr:last-of-type td:last-of-type a:hover {
    color: #F9BAD7;
  }


  tr:first-of-type td:last-of-type {
    background-color: #1D1622;
  }
  tr:first-of-type td:last-of-type p {
    color: #F69DC6;
  }
  tr:first-of-type td:last-of-type a {
    color: #FACEE2;
  }
  tr:first-of-type td:last-of-type a:hover {
    color: white;
  }


  tr:last-of-type td:first-of-type {
    background-color: #1D1622;
  }
  tr:last-of-type td:first-of-type p {
    color: #F69DC6;
  }
  tr:last-of-type td:first-of-type a {
    color: #FACEE2;
  }
  tr:last-of-type td:first-of-type a:hover {
    color: white;
  }
}
